{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>States</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


<div class="small_div">

<div class="container">
    <br>
    <h2>State List</h2>
    <hr>

    <form action="/update/{{ state.id }}">


        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Arabic Name' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Added By' %}</th>
        <th>{% trans 'Added Date and Time' %}</th>
        <th>{% trans 'Last Modification' %}</th>

        {% csrf_token %}

        <label class="form-group" for="name">Name: </label>
        <input class="form-control" type="text" name="name" value="{{ states.name }}" placeholder="{{ states.name  }}">

        <label class="form-group" for="arabic_name">Arabic Name: </label>
        <input class="form-control" type="text" name="arabic_name" value="{{ states.arabic_name }}" placeholder="{{ states.arabic_name }}">


        <label class="form-group" for="status">Status: </label>
        <input class="form-control" type="text" name="status" value="{{ states.status }}" placeholder="{{ states.status }}">

        <input class="btn btn-primary" type="submit" value="Update">

    </form>


</div>
</div>

</body>
</html>