{% extends "layouts/base.html" %}

{% block title %}{{title}}{% endblock %}
{% load static i18n %}

{% load crispy_forms_tags %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block pages_name %}
{% trans 'Update Users' %}
{% endblock pages_name %}

{% block header%}
 {% include 'accounts/users/user_includes/header.html' %}
<li class="breadcrumb-item current-page">{% trans 'Update Users' %}</li>


{% endblock header %}
{% block content %}
                    <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans 'Update User' %}</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form autocomplete="off"  method="post" action="">
                                            {% csrf_token %}

                                            <div class="form-group">
                                                {{form.first_name|as_crispy_field}}

                                            </div>
                                            <div class="form-group">
                                                {{form.second_name|as_crispy_field}}
                                            </div>
                                              <div class="form-group">
                                                {{form.third_name|as_crispy_field}}
                                            </div>
                                              <div class="form-group">
                                               {{form.fourth_name|as_crispy_field}}

                                            </div>

                                            <div class="form-group ">
                                                {{form.username|as_crispy_field}}

                                            </div>

                                               <div class="form-group ">
                                                {{form.user_status|as_crispy_field}}

                                            </div>
                                               <div class="form-group ">
                                                {{form.phone_number|as_crispy_field}}

                                            </div>
                                                <div class="form-group ">
                                                {{form.email|as_crispy_field}}

                                            </div>

                                            <button type="submit" class="btn btn-primary">{% trans 'Update User' %}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

