{% extends "layouts/base.html" %}

{% block title %}{{title}}{% endblock %}
{% load static i18n %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block pages_name %}
{% trans 'Customer Call' %}
{% endblock pages_name %}

{% block header%}
 {% include 'customer_call/customer_call_includes/header.html' %}

{% endblock header %}

{% block content %}


            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
 {% if object_list|length %}
              <div class="col-xl-12">
                        <div class="card">


                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th>{% trans 'Country' %}</th>
                                                <th>{% trans 'Customer' %}</th>
                                                <th>{% trans 'Customer Agent' %}</th>
                                                <th>{% trans 'Call Datetime' %}</th>
                                                <th>{% trans 'Login Status' %}</th>
                                                <th>{% trans 'Call Direction' %}</th>
                                                <th>{% trans 'Call Type' %}</th>
                                                <th>{% trans 'Call Duration' %}</th>
                                                <th>{% trans 'Start Time' %}</th>
                                                <th>{% trans 'End Time' %}</th>
                                                <th>{% trans 'Status' %}</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for object in object_list %}
                                            <tr>
                                                <td>{{object.country.name}}</td>
                                                <td>{{object.customer.user.username}}</td>
                                                <td>{{object.customer_agent}}</td>
                                                <td>{{object.call_datetime}}</td>
                                                <td>{{object.login_status}}</td>
                                                <td>{{object.call_direction}}</td>
                                                <td>{{object.start_time}}</td>
                                                <td>{{object.end_time}}</td>
                                                <td>{{object.status}}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                      <h5>Total Customer Calls Count: {{instances_count}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
              {% include 'includes/pagination_code.html' %}



            {% else %}

               {% if request.user.user_type == "administrator"  %}
<h3 class="delete-warning">{{no_records_admin}}</h3>
            {% else %}
            <h3 class="delete-warning">{{no_records_monitor}}</h3>
            {% endif %}

            {% endif %}




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
