

{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pakages</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


<div class="small_div">

<div class="container">
    <br>
    <h2>Pakages List</h2>
    <hr>

    <form action="/update/{{ pakages.id }}">

        
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Arabic Name' %}</th>
        <th>{% trans 'Telecom' %}</th>
        <th>{% trans 'Currency' %}</th>
        <th>{% trans 'Priority' %}</th>
        <th>{% trans 'Type' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Price' %}</th>
        <th>{% trans 'Grace?' %}</th>
        <th>{% trans 'Grace Period Day' %}</th>
        <th>{% trans 'Discount' %}</th>
        <th>{% trans 'Discount Price' %}</th>
  



        {% csrf_token %}

        <label class="form-group" for="type_name">Type Name: </label>
        <input class="form-control" type="text" name="type_name" value="{{ Pakages.type_name }}" placeholder="{{ Pakages.type_name  }}">

        <label class="form-group" for="arabic_name">Arabic Name: </label>
        <input class="form-control" type="text" name="arabic_name" value="{{ Pakages.arabic_name }}" placeholder="{{ Pakages.arabic_name  }}">



        <label class="form-group" for="telecom">Telecom: </label>
        <input class="form-control" type="text" name="telecom" value="{{Pakages.telecom}}" placeholder="{{Pakages.telecom}}">


        <label class="form-group" for="currency">Currency: </label>
        <input class="form-control" type="text" name="currency" value="{{ Pakages.currency }}" placeholder="{{ Pakages.currency}}">

        <label class="form-group" for="priority">Priority: </label>
        <input class="form-control" type="text" name="priority" value="{{ Pakages.priority }}" placeholder="{{ Pakages.priority}}">

        <label class="form-group" for="type">Type: </label>
        <input class="form-control" type="text" name="type" value="{{ Pakages.type }}" placeholder="{{ Pakages.type}}">

        <label class="form-group" for="status">Status: </label>
        <input class="form-control" type="text" name="status" value="{{ Pakages.status }}" placeholder="{{ Pakages.status}}">

        <label class="form-group" for="price">Price: </label>
        <input class="form-control" type="text" name="price" value="{{ Pakages.price }}" placeholder="{{ Pakages.price}}">

        <label class="form-group" for="grace">Grace: </label>
        <input class="form-control" type="text" name="grace" value="{{ Pakages.grace }}" placeholder="{{ Pakages.grace}}">

        <label class="form-group" for="grace_period_day">Grace Period Day: </label>
        <input class="form-control" type="text" name="grace_period_day" value="{{ Pakages.grace_period_day }}" placeholder="{{ Pakages.grace_period_day}}">

        <label class="form-group" for="discount">Discount: </label>
        <input class="form-control" type="text" name="discount" value="{{ Pakages.discount }}" placeholder="{{ Pakages.discount}}">

        <label class="form-group" for="discount_price">Discount Price: </label>
        <input class="form-control" type="text" name="discount_price" value="{{ Pakages.discount_price }}" placeholder="{{ Pakages.discount_price}}">



        <input class="btn btn-primary" type="submit" value="Update">

    </form>


</div>
</div>

</body>
</html>












