{% extends "layouts/base.html" %}

{% block title %}{{title}}{% endblock %}
{% load static i18n %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block pages_name %}
{% trans 'Packages' %}
{% endblock pages_name %}

{% block header%}
 {% include 'package/package_includes/header.html' %}

{% endblock header %}
{% block content %}

 {% if object_list|length %}
              <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header card-flex-header">
                                <div>
                                <h5>{% trans 'Packages Table' %}</h5>
                                       </div>

                                {% if request.user.user_type == "administrator" %}
                                    <div>
                                <a href="{% url 'addPackages' %}" class="btn btn-secondary" title="btn btn-secondary" data-toggle="tooltip">{% trans 'Add New Package' %}</a>

                           </div>
                                  {% endif %}
                            </div>

                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>{% trans 'Name' %}</th>
                                                <th>{% trans 'Arabic Name' %}</th>
                                                <th>{% trans 'Telecom' %}</th>
                                                <th>{% trans 'Currency' %}</th>
                                                <th>{% trans 'Priority' %}</th>
                                                <th>{% trans 'Type' %}</th>
                                                <th>{% trans 'Status' %}</th>
                                                <th>{% trans 'Price' %}</th>
                                                <th>{% trans 'Grace?' %}</th>
                                                <th>{% trans 'Grace Period Day' %}</th>
                                                <th>{% trans 'Discount' %}</th>
                                                <th>{% trans 'Discount Price' %}</th>
                                                  {% if request.user.user_type == "administrator"  %}
                                                <th>{% trans 'Update' %}</th>
                                                <th>{% trans 'Delete' %}</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for object in object_list %}
                                            <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <td>{{object.name}}</td>
                                                <td>{{object.arabic_name}}</td>
                                                <td>{{object.telecom.name}}</td>
                                                <td>{{object.currency.name}}</td>
                                                <td>{{object.priority}}</td>
                                                <td>{{object.type}}</td>
                                                <td>{{object.status}}</td>
                                                <td>{{object.price}}</td>
                                                <td>{{object.grace}}</td>
                                                <td>{{object.grace_period_day}}</td>
                                                <td>{{object.discount}}</td>
                                                <td>{{object.discount_price}}</td>

                                                  {% if request.user.user_type == "administrator"  %}
                                                <td>
<a href="/edit/{{package.id }}" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">{% trans 'Update' %}</a>

                                                </td>
                                                <td>
                                                    {% if object.status == 'active' %}
 <a href="{% url 'changeServiceStatus' pk=object.id  status=False%}" class="btn btn-danger" title="btn btn-danger" data-toggle="tooltip">{% trans 'Deactivate Service' %}</a>
                                                    {% else %}
<a href="{% url 'changeServiceStatus' pk=object.id status=True%}" class="btn btn-danger" title="btn btn-danger" data-toggle="tooltip">{% trans 'Activate Service' %}</a>


                                                    {% endif %}

                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
              {% include 'includes/pagination_code.html' %}



            {% else %}

               {% if request.user.user_type == "administrator"  %}
<h3 class="delete-warning">{{no_records_admin}}
    <a href="{% url 'addPackages' %}">{% trans 'Here' %}</a></h3>
            {% else %}
            <h3 class="delete-warning">{{no_records_monitor}}</h3>
            {% endif %}

            {% endif %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
