{% extends "layouts/base.html" %}

{% block title %}{{title}}{% endblock %}
{% load static i18n %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block pages_name %}
{% trans 'Countries' %}
{% endblock pages_name %}

{% block header%}
 {% include 'address/countries/country_includes/header.html' %}

{% endblock header %}

{% block content %}


            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
 {% if object_list|length %}
              <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header card-flex-header">
                                <div>
                                <h5>Countries Table</h5>
                                       </div>

                                {% if request.user.user_type == "administrator" %}
                                    <div>
                                <a href="{% url 'addCountries' %}" class="btn btn-primary" title="{{add_tool_tip_text}}" data-toggle="tooltip"><span><i class="fas fa-plus"></i></span></a>

                           </div>

                                  {% endif %}

                            </div>

                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>{% trans 'Name' %}</th>
                                                <th>{% trans 'Arabic Name' %}</th>
                                                <th>{% trans 'Code' %}</th>
                                                <th>{% trans 'Access Code' %}</th>
                                                <th>{% trans 'Service Country?' %}</th>
                                                <th>{% trans 'Status' %}</th>
                                                <th>{% trans 'Added By' %}</th>
                                                <th>{% trans 'Last Modified By' %}</th>
                                                <th>{% trans 'Added Date and Time' %}</th>
                                                <th>{% trans 'Last Modification' %}</th>
                                                  {% if request.user.user_type == "administrator"  %}
                                                <th>{% trans 'Update' %}</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for object in object_list %}
                                            <tr>
                                                <td>{{object.name}}</td>
                                                <td>{{object.arabic_name}}</td>
                                                <td>{{object.code}}</td>
                                                <td>{{object.access_code}}</td>
                                                <td>{{object.is_service_country}}</td>
                                                <td>{{object.status}}</td>
                                                <td>{{object.added_by.username}}</td>
                                                <td>{{object.last_modified_by.username}}</td>
                                                <td>{{object.added_datetime}}</td>
                                                <td>{{object.last_modification_datetime}}</td>

                                                  {% if request.user.user_type == "administrator"  %}
                                                <td>
<a href="{% url 'updateCountry' slug=object.slug %}"  class="btn btn-dark" title="{{update_tool_tip_text}}" data-toggle="tooltip">{% trans 'Update' %}</a>

                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <h5>Total Countries Count: {{instances_count}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
              {% include 'includes/pagination_code.html' %}



            {% else %}

               {% if request.user.user_type == "administrator"  %}
<h3 class="delete-warning">{{no_records_admin}}
    <a href="{% url 'addCountries' %}">{% trans 'Here' %}</a></h3>
            {% else %}
            <h3 class="delete-warning">{{no_records_monitor}}</h3>
            {% endif %}

            {% endif %}




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script defer src="/static/assets/js/address/address.js"></script>
{% endblock javascripts %}
