{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Countries</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


<div class="small_div">

<div class="container">
    <br>
    <h2>Country List</h2>
    <hr>

    <form action="/update/{{ country.id }}">


        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Arabic Name' %}</th>
        <th>{% trans 'Access Code' %}</th>
        <th>{% trans 'Service Country?' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Added By' %}</th>
        <th>{% trans 'Added Date and Time' %}</th>
        <th>{% trans 'Last Modification' %}</th>

        {% csrf_token %}

        <label class="form-group" for="name">Name: </label>
        <input class="form-control" type="text" name="name" value="{{ countries.name }}" placeholder="{{ countries.name  }}">

        <label class="form-group" for="arabic_name">Arabic Name: </label>
        <input class="form-control" type="text" name="arabic_name" value="{{ countries.arabic_name }}" placeholder="{{ countries.arabic_name }}">

        <label class="form-group" for="access_code">Access Code: </label>
        <input class="form-control" type="text" name="access_code" value="{{ countries.access_code }}" placeholder="{{ countries.access_code }}">


        <label class="form-group" for="service_country">Service Country: </label>
        <input class="form-control" type="text" name="service_country" value="{{ countries.service_country }}" placeholder="{{ countries.service_country }}">


        <label class="form-group" for="status">Status: </label>
        <input class="form-control" type="text" name="status" value="{{ countries.status }}" placeholder="{{ countries.status }}">

        <input class="btn btn-primary" type="submit" value="Update">

    </form>


</div>
</div>

</body>
</html>