

{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Telecoms</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


<div class="small_div">

<div class="container">
    <br>
    <h2>Telecoms List</h2>
    <hr>

    <form action="/update/{{ telecoms_phone.id }}">

        <th>{% trans 'Number' %}</th>
        <th>{% trans 'Type' %}</th>
        <th>{% trans 'Status' %}</th>



        {% csrf_token %}

        <label class="form-group" for="number">Number: </label>
        <input class="form-control" type="text" name="number" value="{{ telecom_phone.number }}" placeholder="{{ telecom_phone.number  }}">

        <label class="form-group" for="type">Type: </label>
        <input class="form-control" type="text" name="type" value="{{ telecom_phone.type }}" placeholder="{{ telecom_phone.type  }}">


        <label class="form-group" for="status">Status: </label>
        <input class="form-control" type="text" name="status" value="{{ telecom_phone.status }}" placeholder="{{ telecom_phone.status  }}">


        <input class="btn btn-primary" type="submit" value="Update">

    </form>


</div>
</div>

</body>
</html>












