{% extends "layouts/base-fullscreen.html" %}

{% block title %} Password Reset Complete {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
                	<div class="container p-5">
                <h3 class="mb-4">Password Reset Complete</h3>

		<hr>
      <p>Your password has been set. You may go ahead and log in now.</p>
      <a href="/login" class="btn btn-primary">Log in</a>

  	</div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}