{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}


    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}
       <link rel="stylesheet" href="/static/assets/css/register.css">
    {% endblock stylesheets %}
{% block content %}   

    <div class="auth-wrapper">

        <div class="auth-content">
               <div class="site-logo">
            <img src="/static/assets/images/ouloug.png" alt="not found">
        </div>
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Sign up</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            {{ msg | safe }}
                        {% else %}
                            Add your credentials
                        {% endif %} 
                    </span>

                    <br />
                    <br />

                    <form role="form" method="post" action="">

                        {% csrf_token %}
                        <div class="row justify-form-fields">

                    <div class="col-auto">
                         <div class="input-group mb-3">
                            {{ form.first_name }}
                        </div>
                        <span class="text-error">{{ form.first_name.errors }}</span>
                        <div class="input-group mb-3">
                            {{ form.second_name }}
                        </div>
                        <span class="text-error">{{ form.second_name.errors }}</span>
                    </div>
                            <div class="col-auto">
                        <div class="input-group mb-3">
                            {{ form.third_name }}
                        </div>
                        <span class="text-error">{{ form.third_name.errors }}</span>
                        <div class="input-group mb-3">
                            {{ form.fourth_name }}
                        </div>
                        <span class="text-error">{{ form.fourth_name.errors }}</span>

                    </div>

                                </div>
                        <div class="row justify-form-fields">
                            <div class="col-auto">
                                  <div class="input-group mb-3">
                            {{ form.phone_number }}
                        </div>
                                 <span class="text-error">{{ form.phone_number.errors }}</span>
                            </div>
                              <div class="col-auto">
                        <div class="input-group mb-3">
                            {{ form.username }}
                        </div>
                        <span class="text-error">{{ form.username.errors }}</span>
                            </div>
                        </div>
  <div class="row justify-form-fields">

         <div class="col-auto">
                        <div class="input-group mb-4">
                            {{ form.password }}
                        </div>
                        <span class="text-error">{{ form.password.errors }}</span>

                        <div class="input-group mb-4">
                            {{ form.password2 }}
                        </div>
                        <span class="text-error">{{ form.password2.errors }}</span>
                            </div>
                          <div class="col-auto">

                        <div class="input-group mb-3">
                            {{ form.email }}
                        </div>
                        <span class="text-error">{{ form.email.errors }}</span>

                            </div>
                          </div>
                        
                        <div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1">
                                <label for="checkbox-fill-a1" class="cr"> Agree with <a href="#">terms</a></label>
                            </div>
                        </div>
                        <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>

                    </form>

                    <p class="mb-0 text-muted">Already have an account? <a href="{% url 'login' %}" >Login</a></p>
                    <br />
                    <p class="mb-2 text-muted">
           &copy; <a target="_blank" href="#">Rights Reserved</a>
                        - <a target="_blank" href="#">Version 1.0</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
