{% extends "layouts/base.html" %}

{% block title %}{{title}}{% endblock %}
{% load static i18n %}

{% load crispy_forms_tags %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block pages_name %}
{% trans 'Add Customers' %}
{% endblock pages_name %}

{% block header%}
 {% include 'customer/customer_includes/header.html' %}
<li class="breadcrumb-item current-page">{% trans 'Add Customers' %}</li>
{% endblock header %}
{% block content %}
                    <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans 'Add Customers' %}</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form autocomplete="off"  method="post" action=""  enctype='multipart/form-data'>
                                            {% csrf_token %}

                                            <div class="form-group">
                                                {{form.user|as_crispy_field}}

                                            </div>
                                            <div class="form-group">
                                                {{form.business_name|as_crispy_field}}
                                            </div>
                                              <div class="form-group">
                                                {{form.arabic_business_name|as_crispy_field}}
                                            </div >
                                            <div class="form-group">
                                               {{form.business_shortname|as_crispy_field}}

                                            </div>
                                            <div class="form-group">
                                               {{form.business_type|as_crispy_field}}

                                            </div>
                                            <div class="form-group">
                                               {{form.business_type_other|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.business_address_one|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.business_address_city|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.logo|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.registration_number|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.established_date|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.admin_mobile_number|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.account_status|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.purchase_status|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.email|as_crispy_field}}

                                            </div>
                                              <div class="form-group">
                                               {{form.expiry_datetime|as_crispy_field}}

                                            </div>

                                            <button type="submit" class="btn btn-primary">{% trans 'Add Customer' %}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

